:root{
    /* Colors */
    --color-text:#7efce7;
    --color-primary:#567cbc;
    --color-secondary:#19376d;
    --color-dark:#0b2447;
    --color-bg:#04152d;
    /* Fonts*/
    /* --font-robot: "Roboto" */
}

